* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

#logo-img {
  height: 120px;
  width: auto;
  float: left;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  font-weight: 300;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  margin-left: 80px;
  transition: 0.55sec ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(
    245.59deg,
    #4d9558 0%,
    #38703d 28.53%,
    #133917 75.52%
  );
}

.hero-img {
  display: flex;
}

section {
  padding: 0 8%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: "Permanent Marker", curvise;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}

.hero-text h4 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.hero-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-img img {
  width: 800px;
  height: auto;
}

.hero-text a {
  display: inline-block;
  color: white;
  background: #4d9558;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55 ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(6px);
}

.hero-text a.ctaa {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.hero-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .hero-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 560px;
    height: auto;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    flex-direction: column;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 300px;
    height: 40vh;
    background: #4d9559;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }

  .navlist.open {
    display: none;
  }

  #logo-img {
    padding-bottom: 40px;

    /* width: auto; */
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}
